.containerRecuperarConta {
    width: 100vw;
    min-height: 100vh;

    background-color: #FBF8F4;
}

.containerInternoRecuperar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.imagemFundoRecuperarConta {
    width: 70vw;
    height: 100vh;
}

.imagemFundoRecuperarConta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 912px) {

    .containerInternoRecuperar {
        flex-direction: column-reverse;
        height: 100%;
    }

    .imagemFundoRecuperarConta {
        width: 100%;
        height: 50vh;

        margin: auto;
    }

    .imagemFundoRecuperarConta img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 480px) {
    
    .imagemFundoRecuperarConta {
        height: 35vh;
    }
}
