.containerTelaPopulares {
    display: flex;
    flex-direction: column;

    background-color: #FBF6F0;

    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.posicaoCompraTelaPopulares {
    position: relative;
}

.carrinhoCompraTelaPopulares {
    position: absolute;
    width: 50px;
    height: 70px;
    top: 5rem;
    right: 5rem;
    z-index: 100;
}


@media screen and (max-width: 1024px) {
    
    .carrinhoCompraTelaPopulares {
        
        top: 8rem;
        right: 1.5rem;
        z-index: 100;
    }
}


@media screen and (max-width: 912px) {

    .carrinhoCompraTelaPopulares {
        
        top: 8rem;
        right: 1rem;
    }
}

@media screen and (max-width: 400px) {

    .carrinhoCompraTelaPopulares {
        
        top: 8rem;
        right: 1rem;
    }
}
