.containerTelaJogo {
    
    display: flex;
    flex-direction: column;

    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    background-color: #FBF6F0;
}

.posicaoCarrinhoCompraTelaJogo {
    position: relative;
}

.CarrinhoCompraTelaJogo {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 6rem;
    right: 2rem;
    z-index: 100;
}


@media screen and (max-width: 1024px) {
    
    .CarrinhoCompraTelaJogo {
        
        top: 8.5rem;
        right: 1.5rem;
        z-index: 100;
    }
}

@media screen and (max-width: 400px) {

    .CarrinhoCompraTelaJogo {
        
        top: 8.5rem;
        right: 0.5rem;
    }
}
