.containerTelaJogo {
    display: flex;
    flex-direction: column;

    background-color: #FBF6F0;

    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.posicaoCarrinhoCompraTelaJogo {
    position: relative;
}

.CarrinhoCompraTelaJogo {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 6rem;
    right: 2rem;
    z-index: 100;
}



@media screen and (max-width: 912px) {
    
    .containerTelaJogo {
        flex-direction: column;
        
        width: 100vw;
    }
}


@media screen and (max-width: 1024px) {
    
    .CarrinhoCompraTelaJogo {
        
        top: 8.5rem;
        right: 1.5rem;
        z-index: 100;
    }
}


@media screen and (max-width: 400px) {

    .CarrinhoCompraTelaJogo {
        
        top: 8.5rem;
        right: 0.5rem;
    }
}
