.containerTelaJogo {
    display: flex;
    flex-direction: column;

    background-color: #FBF6F0;

    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.posicaoCarrinhoCompraTelaJogo {
    position: relative;
}

.CarrinhoCompraTelaJogo {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 6rem;
    right: 2rem;
    z-index: 100;
}
