.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #FBF6F0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.navbarImg img {
    width: 100px;
    height: 100px;
    margin-top: 1px;
    margin-left: 40px;
}

.navbarLinks {
    display: flex;
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.navbarLinks li {
    margin: 0 15px;
    padding-right: 20px;
    border-right: 1px solid #4B626C;
}

.navbarLinks a {
    color: #4B626C;
    text-decoration: none;
    font-weight: 300;
    font-size: 32px;
    line-height: 39.01px;
}

.navbarLinks a:hover {
    text-decoration: underline;
}

.navbarCampoBusca {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 40px;
}

.navbarCampoBusca input {
    width: 165px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #97A4A273;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 17px;
    color: #4B626C;
}

.navbarCampoBusca button {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.iconeBusca {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    color: #000000;
    background-color: transparent;
}

.buttonMenuNavBar {
    display: none;
    border: none;
    
    width: 59px;
    height: 59px;
    margin: auto;

    background-color: transparent;
    cursor: pointer;

    position: relative;
    z-index: 1001;
}

.iconeMenuNavBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 59px;
    height: 59px;
    
    background-color: transparent;
    color: #4B626C;
}



@media screen and (max-width: 1350px){
    
    .buttonMenuNavBar {
        display: block;
        position: fixed;
        top: 20px;
        right: 15px;
    }

    .navbarLinks {
        display: none;
    }

    .navbarLinks.open {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: fixed;
        top: 0;
        left: 0;
        padding-top: 3rem;

        width: 100%;
        height: auto;

        background-color: #4B626C;
    }

    .navbarLinks.open li {        
        width: 10rem;
        margin: 0;
        padding: 1rem 0;
        
        border-right: none;
        border-bottom: 2px solid #FFFFFF;
        text-align: center;
    }

    .navbarLinks.open li:last-child {
        border-bottom: none;
    }

    .navbarLinks a {
        font-size: 24px;
        line-height: 29.26px;

        color: #FFFFFF;
    }

    .navbarCampoBusca {
        display: none;
    }

    .navbarCampoBusca.open {
        width: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        top: 22rem;
        left: 0;
        
        padding: 1.5rem;
        background-color: #4B626C;
        box-shadow: 0px 14px 4px 0px #00000040;
    }

    .navbarCampoBusca.open button {
        position: absolute;
        display: flex;
        margin-left: 15rem;
    }

    .navbarCampoBusca input {
        background-color: #97A4A2;
        width: 271px;
    }

    .navbarLinks.open ~ .buttonMenuNavBar .iconeMenuNavBar {
        color: #FFFFFF;
    }
}
