.containerMetodoPagamento {
    position: relative;
    
    width: 42vw;
    height: 100vh;
    top: 20vh;

    display: flex;
    flex-direction: column;
    
    background-color: #FBF6F0;
}

.cardMetodoPagamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: auto;
}

.cardMetodoPagamento h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 43.88px;

    margin-right: auto;
    padding-left: 15px;

    color: #4B626C;
}

.itensMetodoPagamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    margin-top: 120px;
    gap: 70px;
}

.itemMetodoPagamento {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 30vw;
    height: 100%;

    font-weight: 500;
    font-size: 32px;
    line-height: 39.01px;

    color: #4B626C;
}

.itemMetodoPagamento img {
    width: 60px;
    height: 60px;
}

.itemMetodoPagamento hr{
    width: 100%;
    border: 1px solid #4B626C;
}

.itemMetodoPagamento button{
    width: 210px;
    height: 40px;
    border-radius: 5px;
    background-color: #4B626C;
    border: none;

    font-weight: 500;
    font-size: 20px;
    line-height: 24.38px;

    color: #FBF6F0;
    cursor: pointer;
}

.itemMetodoPagamento button:hover {
    border: 2px solid #FBF6F0;
    box-shadow: 0px 0px 7px 7px #a7a6a6;
}

.iconeFinalizarMetodoPagamento {
    width: 20.00px;
    height: 15.00px;
    color: #FBF6F0;
}

.termosMetodoPagamento {
    font-weight: 500;
    font-size: 22px;
    line-height: 24.38px;

    color: #4B626C;

    padding-left: 2rem;
}


@media screen and (min-width: 1600px) {
    
    .containerMetodoPagamento {
        top: 0;
        justify-content: center;
    }

    .cardMetodoPagamento h2 {
        font-size: 60px;
        line-height: 50.88px;
    }
    
    .itensMetodoPagamento {
        gap: 7rem;
    }
    
    .itemMetodoPagamento {
        width: 30vw;
        font-size: 60px;    
    }
    
    .itemMetodoPagamento img {
        width: 80px;
        height: 80px;
    }
    
    .itemMetodoPagamento button{
        width: 310px;
        height: 65px;

        font-size: 27px;
    }
    
    .iconeFinalizarMetodoPagamento {
        width: 35px;
        height: 30px;
    }
    
    .termosMetodoPagamento {
        font-size: 35px;
        line-height: 50px;
        padding-left: 1rem;
    }
}

@media screen and (max-width: 1599px) {

    .containerMetodoPagamento {
        top: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    
    .containerMetodoPagamento {
        width: 100vw;
        top: 0vh;
        padding-bottom: 2rem;
    }

    .cardMetodoPagamento h2 {
        font-size: 24px;
        line-height: 29.26px;

        padding-top: 2rem;
    }
    
    .itensMetodoPagamento {
        margin-top: 2rem;
        gap: 3rem;
    }

    .itemMetodoPagamento {
        width: 100vw;
    }
    
    .itemMetodoPagamento hr{
        width: 90%;
    }
    
    .termosMetodoPagamento {
        font-size: 18px;
        line-height: 19.5px;
    
        padding-left: 0rem;
    }
}
