.containerItensNoCarrinho {
    width: 58vw;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: #4B626C;
}

.itensCarrinhoCompra {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;

    padding-top: 6rem;
}

.itensCarrinhoCompra h2 {
    margin-left: -15rem;

    font-weight: 500;
    font-size: 36px;
    line-height: 43.88px;
    color: #FBF6F0;
}

.itensCarrinhoCompra img {
    width: 160px;
    height: 220px;
}

.itemCarrinhoCompra {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    margin-top: 2rem;
}

.dadosJogoCarrinhoCompra {
    display: flex;
    flex-direction: column;
    text-align: left;

    width: 200px;
    height: auto;

    margin-right: 2rem;
}

.nameGameCarrinhoCompra{
    font-weight: 400;
    font-size: 20px;
    line-height: 24.38px;

    color: #FFFFFF;
}

.platGameCarrinhoCompra {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;

    color: #FFFFFF;
}

.priceGameCarrinhoCompra {
    font-weight: 600;
    font-size: 30px;
    line-height: 39.01px;
    
    margin-top: auto;
    
    color: #FFFFFF;
}

.totalCarrinhoCompra {

    width: 24.5rem;
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
    

    font-weight: 600;
    font-size: 30px;
    line-height: 39.01px;

    color: #FFFFFF;
    border-top: 2px solid #FBF6F0;
}

@media screen and (max-width: 1024px) {
    .containerItensNoCarrinho {
        width: 100vw;
        min-height: auto;
    }

    .itensCarrinhoCompra {
        height: 100%;
        padding-top: 8rem;
        margin-bottom: 2rem;
    }

    .itensCarrinhoCompra h2 {
        margin-left: -1.5rem;
    }
}

@media screen and (max-width: 912px) {

    .itensCarrinhoCompra h2 {
        margin-left: -8.5rem;

        font-size: 24px;
        line-height: 29.26px;
    }

    .nameGameCarrinhoCompra{

        font-size: 18px;
        line-height: 20.5px;
    }
    
    .platGameCarrinhoCompra {
        
        font-size: 15px;
        line-height: 25.63px;
    }
    
    .priceGameCarrinhoCompra {
        
        font-size: 25px;
        line-height: 30.26px;
    }

    .totalCarrinhoCompra {
        margin-top: 2rem;
        
        font-size: 28px;
        line-height: 30.26px;
    }
}


@media screen and (max-width: 400px) {
    .itensCarrinhoCompra h2 {
        margin-left: -7.5rem;

        font-size: 22px;
        line-height: 25.26px;
    }

    .nameGameCarrinhoCompra{

        font-size: 16px;
        line-height: 18.5px;
    }
    
    .platGameCarrinhoCompra {
        
        font-size: 15px;
        line-height: 20.63px;
    }
    
    .priceGameCarrinhoCompra {
        
        font-size: 21px;
        line-height: 30.26px;
    }

    .totalCarrinhoCompra {
        width: 22.5rem;
        margin-top: 2rem;
        
        font-size: 21px;
        line-height: 30.26px;
    }

    .itensCarrinhoCompra img {
        width: 120px;
        height: 180px;
    }
}
