.containerPagePrincipal {
    display: flex;
    flex-direction: column;

    background-color: #FBF6F0;

    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.posicaoCarrinhoCompra {
    position: relative;
}

.carrinhoCompraTelaPrincipal {
    position: absolute;
    width: 50px;
    height: 70px;
    top: 100px;
    right: 10px;
    z-index: 100;
}


@media screen and (min-width: 1600px) {
    
    .carrinhoCompraTelaPrincipal {
        top: 9rem;
        right: 5rem;
    }
}

@media screen and (max-width: 1599px){
    
    .carrinhoCompraTelaPrincipal {
        top: 2rem;
        right: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    
    .carrinhoCompraTelaPrincipal {
        
        top: 7.5rem;
        right: 1.5rem;
        z-index: 100;
    }
}

@media screen and (max-width: 912px) {

    .carrinhoCompraTelaPrincipal {
        
        top: 4rem;
        right: 2rem;
    }
}

@media screen and (max-width: 400px) {

    .carrinhoCompraTelaPrincipal {
        
        top: 7.5rem;
        right: 1rem;
    }
}
