.containerFooter {
    position: relative;
    
    top: 21vh;
    width: 100vw;
    height: 40vh;

    margin-left: auto;
    margin-right: auto;

    background-color: #97A4A2;
}

.itemsFooter {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    padding: 0;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.logo img {
    width: 164px;
    height: 164px;
}

.coluna1 {
    flex: 2;
    width: 100%;
    height: 100%;

    text-align: center;
}

.coluna1 h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 43.88px;
    color: #FBF8F3;
}

.coluna1 p {
    font-weight: 300;
    font-size: 32px;
    line-height: 39.01px;
    color: #FFFFFF;
}

.coluna2 {
    flex: 3;
    width: 100%;
    height: 100%;

    text-align: center;
}

.coluna2 ul li {
    font-weight: 400;
    font-size: 26px;
    line-height: 39.01px;
    color: #FFFFFF;

    cursor: pointer;
}

.coluna3 {
    flex: 3;
    width: 100%;
    height: 100%;

    text-align: start;
}

.coluna3 ul li {
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
    color: #FFFFFF;
    
    padding-bottom: 10px;
    cursor: pointer;
}

.coluna2 h4 , .coluna3 h4{
    font-weight: 500;
    font-size: 32px;
    line-height: 43.88px;
    color: #FFFFFF;
}

.coluna2 ul, .coluna3 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.coluna2 a, .coluna3 a {
    text-decoration: none;
    color: #FFFFFF;
}

.coluna2 a:hover, .coluna3 a:hover {
    text-decoration: underline;
}

.coluna4 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 20px 0px 10px 0px;
    padding: 0;
}

.coluna4 p {
    font-weight: 300;
    font-size: 22px;
    line-height: 29.26px;
    color: #4B626C;
}
