.containerRegistrar {
    width: 100vw;
    min-height: 100vh;

    background-color: #FBF8F4;
}

.containerInternoRegistrar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.imagemFundoRegistrar {
    width: 70vw;
    height: 100vh;
}

.imagemFundoRegistrar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 912px) {

    .containerInternoRegistrar {
        flex-direction: column-reverse;
        height: 100%;
    }

    .imagemFundoRegistrar {
        width: 100%;
        height: 50vh;

        margin: auto;
    }

    .imagemFundoRegistrar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 480px) {
    
    .imagemFundoRegistrar {
        height: 35vh;
    }
}