.containerJogosPopulares {
    position: relative;

    top: 17vh;
    width: auto;
    height: auto;

    margin: 0px 109px 50px;
}

.containerJogosPopulares h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 43.88px;
    color: #4B626C;
}

.layoutPopulares {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: auto;
    height: auto;

    gap: 5%;
    padding: 20px;
    border-radius: 20px;

    transition: background 0.4s ease;
}

.layoutPopulares:hover {
    border-radius: 20px;
    background-color: #99929240;
}

.imagemJogosPopulares {
    position: relative;
    display: inline-block;
}

.imagemJogosPopulares img {
    display: block;

    width: 479px;
    height: 283px;

    border-radius: 15px;
    margin-top: 25px;
}

.indiceJogoPopular {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: #FBF6F0;

    background-color: #4B626C;

    top: 0;
    left: -25px;

    cursor: default;
}

.infosJogos p{
    font-weight: 300;
    font-size: 20px;
    line-height: 24.38px;
    color: #4B626C;

    text-align: justify;
}

.infosJogos h3 , .infosJogos a {
    text-decoration: none;

    font-weight: 600;
    font-size: 32px;
    line-height: 39.01px;
    color: #4B626C;

    text-align: center;
    margin-bottom: 15px;
}

.infosJogos a:hover {
    text-decoration: underline;
}


@media screen and (min-width: 1600px) {

    .containerJogosPopulares {
        top: 12vh;
    }

    .containerJogosPopulares h2 {
        font-size: 50px;
    }

    .infosJogos p{
        font-size: 25px;
        line-height: 27px;
    }

    .infosJogos h3 , .infosJogos a {
        font-size: 35px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    
    .containerJogosPopulares {
        top: 15vh;

        display: flex;
        flex-direction: column;

        margin: auto;
        padding-bottom: 5rem;
    }

    .containerJogosPopulares h2 {
        padding-left: 3rem;
        padding-bottom: 0.5rem;

        font-size: 28px;
        line-height: 29.26px;
    }

    .layoutPopulares {
        display: flex;
        flex-direction: column;
        
        gap: 1rem;
        margin: auto;
    }

    .layoutPopulares:nth-child(3) .infosJogos {
        order: 2;
    }

    .imagemJogosPopulares img {
        width: 322px;
        height: 190px;
    }

    .infosJogos p{
        font-size: 18px;
        line-height: 21.07px;
    }

    .infosJogos h3 , .infosJogos a {
        font-size: 25px;
        line-height: 19.5px;
    }
}

@media screen and (max-width: 390px) {
    
    .containerJogosPopulares h2 {
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .imagemJogosPopulares img {
        width: 305px;
        height: 173px;
    }
}
