.containerEsquerdo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FBF6F0;
}

.dadosUsuario {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.dadosUsuario h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 58.51px;
    color: #4B626C;
    margin-bottom: 20px;
}

.dadosUsuario p {
    font-weight: 400;
    font-size: 32px;
    line-height: 39.01px;
    color: #4B626C;
    margin-top: 20px;
    margin-bottom: 5px;
}

.dadosUsuario button , .dadosUsuario a{
    width: 270px;
    height: 45px;
    border-radius: 10px;
    background-color: #4B626C;
    border: none;
    cursor: pointer;

    font-weight: 400;
    font-size: 30px;
    line-height: 36.57px;
    color: #FBF6F0;
    margin-top: 25px;
    
    text-decoration: none;
}

.dadosUsuario button:hover{
    border: 2px solid white;
    box-shadow: 0px 0px 10px 10px #00000040;
}

.buttonAdmin{
    opacity: 50%;
    padding-right: 40px;
}

.iconeEditar {
    width: 20px;
    height: 20px;
    color: #FBF6F0;
    background-color: transparent;
    margin-left: 20px;
}

.iconeDelete {
    width: 19.46px;
    height: 22.24px;
    color: #FBF6F0;
    background-color: transparent;
    margin-left: 20px;
}


@media screen and (max-width: 912px) {

    .containerEsquerdo {
        width: 100%;
        height: 100vh;
    }

    .dadosUsuario {
        margin-top: -15rem;
    }

    .dadosUsuario h1{
        margin: auto;
        margin-bottom: 1rem;

        font-size: 32px;
        line-height: 29.26px;
    }

    .dadosUsuario p {
        font-size: 26px;
        line-height: 24.38px;

        margin-bottom: 1.5rem;
    }

    .dadosUsuario button , .dadosUsuario a{
        margin: 0.5rem auto;

        font-size: 22px;
        line-height: 24.38px;

        width: 220.71px;
        height: 40.62px;

        text-align: center;
    }
}
